<a href="https://colab.research.google.com/github/idrisoracleng/DataScience/blob/main/intro_to_ds/case1.1/exploration_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Analysis Examples

[Jian Tao](https://coehpc.engr.tamu.edu/people/jian-tao/), Texas A&M University

Aug 10, 2019

Converted from

**pandas workshop notebook**

by [Luciano Strika](https://github.com/StrikingLoo/pandas_workshop)

## 1. Data exploration with panda

In [ ]:
%matplotlib inline
import pandas as pd
import random

### First, we will generate a data set randomly

In [ ]:
names = ["Albert","John","Richard","Henry","William"]
surnames = ["Goodman","Black","White","Green","Joneson"]
gender = ["F", "M"]
salaries = [500*random.randint(10,30) for _ in range(10)]

In [ ]:
def generate_random_person(names, surnames, gender, salaries):
    return {"name":random.sample(names,1)[0],
            "surname":random.sample(surnames,1)[0],
            "gender":random.sample(gender,1)[0],
            "salary":random.sample(salaries,1)[0]}
def generate_people(k):
    return [generate_random_person(names, surnames, gender, salaries) for _ in range(k)]

In [ ]:
generate_random_person(names, surnames, gender, salaries)

In [ ]:
df = pd.DataFrame(generate_people(50),columns=["name","surname", "gender", "salary"])

In [ ]:
df.to_csv("random_people.csv", index=False)

### Now we are going to use the data

In [ ]:
df = pd.read_csv("random_people.csv")

In [ ]:
#start getting a feel of the data
df.head(5)

In [ ]:
df['salary'].value_counts()

In [ ]:
df['salary'].median()

In [ ]:
def tax(s):
    if s>=6000:
        return s*.7
    else:
        return s*.85

In [ ]:
df["salary_after_tax"] = df["salary"].apply(tax)
df.head(5)

In [ ]:
df_high = df[df["salary_after_tax"]>10000]

In [ ]:
df_high

In [ ]:
df.corr(numeric_only=True)

In [ ]:
df.info()

## 2. Wordcloud of "The Complete Works of William Shakespeare"

Project Gutenberg’s [The Complete Works of William Shakespeare, by William
Shakespeare](https://www.gutenberg.org/files/100/100-0.txt)

This eBook is for the use of anyone anywhere in the United States and
most other parts of the world at no cost and with almost no restrictions
whatsoever.  You may copy it, give it away or re-use it under the terms
of the Project Gutenberg License included with this eBook or online at
www.gutenberg.org.  If you are not located in the United States, you’ll
have to check the laws of the country where you are located before using
this ebook.

In [ ]:
import matplotlib.pyplot as plt
import nltk
from wordcloud import WordCloud, STOPWORDS

In [ ]:
# this is to detect if we are running on Google Colab.
import sys
IN_COLAB = 'google.colab' in sys.modules

In [ ]:
if IN_COLAB:
  datafile = 'https://raw.githubusercontent.com/jtao/dswebinar/master/intro_to_ds/case1.1/Shakespeare.txt'
  import requests
  text = requests.get(datafile).text
else:
  datafile = 'Shakespeare.txt'
  text = open(datafile,'r').read()

In [ ]:
','.join(STOPWORDS)

In [ ]:
text.strip().replace("\n", " ").replace("\r", " ");
print ("There are {} characters in the collection.".format(len(text)))

In [ ]:
wordcloud = WordCloud(width=1600, height=800, stopwords=STOPWORDS, background_color='black').generate(text)
plt.figure(figsize=(20,10))
plt.imshow(wordcloud, interpolation='bilinear')
plt.axis('off')
plt.tight_layout(pad=0)
plt.show()

In [ ]:
# Ucomment to save the word cloud to a file.
#wordcloud.to_file("wordcloud.png")